#sidebar {
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100vh;
}

#sidebar.w-20 {
    width: 5rem;
}

#sidebar .sidebar-text {
    transition: opacity 0.3s ease;
}

#sidebar.w-20 .sidebar-text {
    opacity: 0;
}

/* Dropdown toggle */
#profileDropup {
    display: none;
}

#profileDropup.show {
    display: block;
}

/* Dropdown Menu Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#profileDropup {
    animation: fadeIn 0.3s ease-in-out;
}

/* Styling untuk scrollbar */
#sidebar::-webkit-scrollbar {
    width: 5px;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 10px;
}

/* Main content adjustments */
#mainWrapper {
    margin-left: 16rem;
    /* Tambahkan margin sesuai dengan lebar sidebar */
    transition: margin-left 0.3s ease-in-out;
}

#sidebar.w-20 + #mainWrapper {
    margin-left: 5rem;
    border-radius: 10px;
}

[data-collapse].active i {
    transform: rotate(90deg);
    transition: transform 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 64px;
        height: 100vh;
        transform: translateX(-100%);
        /* Menyembunyikan sidebar pada mobile */
    }

    #sidebar.w-64 {
        transform: translateX(0);
        /* Sidebar muncul saat ditoggle */
    }

    #mainWrapper {
        margin-left: 0;
        border-radius: 10px; /* Tambah ini juga kalau mau tetap rounded di mobile */
    }
}
